$rem_size: 16px;

// Font Family
$mainFont: "Helvetica", "Arial", sans-serif;

// Weights
$extra-bold:		900;
$bold:				700;
$regular:			400;
$light:				300;

$fs-thin:			100;
$fs-light:			200;
$fs-book:			$light;
$fs-regular:		$regular;
$fs-medium:			500;
$fs-bold:			$bold;
